# Copyright 2020 Oracle Corporation and/or its affiliates.  All rights reserved.
# Licensed under the Universal Permissive License v 1.0 as shown at
# http://oss.oracle.com/licenses/upl.

# ---------------------------------------------------------------------------
# Coherence JavaScript Client GitHub Actions CI build.
# ---------------------------------------------------------------------------

name: Node.js CI

on:
  push:
    branches-ignore:
    - gh-pages
  pull_request:
    types:
      - opened
      - committed
    branches:
    - '*'
jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    # install protoc
    - run: curl -LO "https://github.com/protocolbuffers/protobuf/releases/download/v3.13.0/protoc-3.13.0-linux-x86_64.zip"
    - run: unzip protoc-3.13.0-linux-x86_64.zip -d /tmp/grpc
    - run: echo "/tmp/grpc/bin" >> $GITHUB_PATH
    # install project deps
    - run: npm install
    # start test container
    - run: npm run coh-up
    # compile grpc stubs
    - run: npm run grpc
    # give the container time to bootstrap
    - run: npm run wait
    # run the tests
    - run: npm run test
    # top the test container
    - run: npm run coh-down
    # clean up
    - run: npm run coh-clean
